services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ConnectionStrings__Default: Host=sellora-db-u6c7m6;Port=5432;Database=sellora;Username=sellora;Password=sellora
    ports:
      - "8080:8080"
    restart: unless-stopped
